<%= render 'posts/modal' %>
<div class="container">
  <div class="row">
    <%= render 'pages/index/side_menu' %>
    <div class="main-content" class="col-sm-9">
      <%= render @posts %>
    </div>
  </div>
</div>
